<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405314841033-6j0gfro0j7udba3jg7eh666faods3hcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405314841033-6j0gfro0j7udba3jg7eh666faods3hcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDdk6rtm8FzJ89DmvpYXm1_tod8e6ZlCh8</string>
	<key>GCM_SENDER_ID</key>
	<string>405314841033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoFashionApp</string>
	<key>PROJECT_ID</key>
	<string>fashionapp-17e0b</string>
	<key>STORAGE_BUCKET</key>
	<string>fashionapp-17e0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405314841033:ios:539cf4ebab5062819a6018</string>
</dict>
</plist>